body{
	background: #f7f7f7;
	font-family: Verdana;
	max-width: 900px;
	margin: auto;
}
#title, .subtitle {
	color: #505050;
	
}
#title{
	font-size:48px;
	text-transform: uppercase;
}

a {
	text-decoration: line-through;
	color: #505050;
}

.img{
	border-radius: 50%;
	border: 5px solid #505050;
	width: 100px;
}

.post_title{
	color: #505050;
	font-size: 16px;
	font-style: italic;
	margin: 0;
	margin-bottom: 15px;
	
}
.post{
	background: #FFF;
	padding: 15px;
	border: 3px solid #505050;
	margin-bottom: 10px;
	border-radius: 5px;
}

.post_content {
	margin: 0;
	margin-bottom: 15px;
	text-transform: capitalize;
	text-align: justify;
}

.lista_contact{
	list-style-type: none;
	padding-left: 15px;
}

.lista_contact li a {
	text-decoration: none;
	text-decoration: underline;
}

.img_ilusao2{
	width: 50%;
}